.part1 {
  background: #EE3E64;
  position: absolute;
  display: block;
  width: 200px;
  height: 200px;
  margin: 0px 0px;
}

.part2 {
  background: #44ACCF;
  position: absolute;
  display: block;
  width: 200px;
  height: 200px;
  left: 208px;
  margin: 0px 0px;
}

.part3 {
  background: #B7D84B;
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  top: 200px;
  margin: 0px 0px;
}
